@model SimplCommerce.Module.Search.Areas.Search.ViewModels.SearchForm

<div class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form action="~/search" method="get">
                            <input type="search" name="query" id="search" placeholder="@Localizer["Search here..."]">
                            <button type="submit"><img src="~/themes/SmallStore/img/core-img/search.png" alt=""></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>