.main-content-wrapper .shop_sidebar_area{
    padding: 100px 25px;
}
.mb-20{
    margin-bottom: 20px;
}
.widget.brands .form-check{
    padding: 0;
}
.widget.brands .form-check{
    margin-bottom: 15px;
}
.smallstore .noUi-connect{
    background: #fbb710 !important;
}   