<label>Chuyển khoản ngân hàng</label>
<form asp-area="PaymentCoD" asp-controller="CoD" asp-action="CoDCheckout" method="POST" id="checkout-payment" class="form-horizontal">
    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-order">@Localizer["Chuyển khoản ngân hàng"]</button>
        </div>
    </div>
</form>
